.landing-banner {
    background-image: url("../images/husky.png");
    background-repeat: no-repeat;
    background-size: 30%;
}

.feature-banner {
    background-image: url("../images/feature.png");
    background-repeat: no-repeat;
    background-size: 30%;
}

.Review {
    margin-top: 5%;
    margin-bottom: 5%;
}

.carousel-inner {
    width: 60%;
    margin: auto;
}

#carouselReview {
    margin-top: 5%;
}

.product-banner {
    background-image: url(../images/productbanner.png);
}

.product-btn {
    padding: 3% 20% 3% 20%;
}

.checked {
    color: orange;
}