.landing-banner {
    background-image: url("../images/husky.png");
    background-repeat: no-repeat;
    background-size: 30%;
}

.feature-banner {
    background-image: url("../images/feature.png");
    background-repeat: no-repeat;
    background-size: 30%;
}

.Review {
    margin-top: 5%;
    margin-bottom: 5%;
}

.carousel-inner {
    width: 60%;
    margin: auto;
}

#carouselReview {
    margin-top: 5%;
}

.product-banner {
    background-image: url(../images/productbanner.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.product-btn {
    padding: 3% 20% 3% 20%;
}

.checked {
    color: orange;
}

.carousel-item:before {
    -webkit-box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.home-review-product {
    position: absolute;
    top: 20%;
    right: 20%;
    font-weight: bold;
}

.home-review-stars {
    position: absolute;
    top: 20%;
    right: 20%;
}