body {
  padding: 50px;
  font-family: 'Montserrat';
}

a {
  color: #00B7FF;
}

.login {
  background-color: #ffffff;
  padding: 3%;
  margin: auto;
  position: relative;
}

#signup {
  visibility: hidden;
}

.login-label {
  margin-bottom: 15%;
}

.login-btn {
  padding: 4% 25% 4% 25%;
  font-size: small;
}

.login-btn-div {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.layer {
  background-color: rgba(23, 11, 192, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#signup {
  visibility: hidden;
}