.search-container {
    margin-top: 5%;
}

#search {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-items {
    justify-content: center;
}

.product-title {
    margin-top: 5%;
}

.button-go {
    margin-left: 0%;
}

.merch-deck {
    padding: 1%;
}

.card-container {
    margin-bottom: 2%;
}

#button-go  {
    margin-left: 0%;
    padding-top: 1%;
}